@font-face {
    font-family: Vazir;
    src: url('./assets/fonts/Vazir-FD-WOL.eot');
    src: url('./assets/fonts/Vazir-FD-WOL.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/Vazir-FD-WOL.woff2') format('woff2'),
    url('./assets/fonts/Vazir-FD-WOL.woff') format('woff'),
    url('./assets/fonts/Vazir-FD-WOL.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: Vazir, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media print {
    @page {
        margin: 30px 0;
    }

    #printBtn {
        display: none;
    }

    #closeBtn {
        display: none;
    }

    #snackbar {
        display: none;
    }


}
